name: Publish

on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-18.04

    steps:
      - name: Project checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: '3.8.8'

      - name: Install Poetry
        uses: snok/install-poetry@v1.1.2
        with:
          virtualenvs-create: false
          virtualenvs-in-project: false

      - name: Install dependencies
        run: make setup

      - name: Publish to Pypi
        run: make deploy token=${{ secrets.PYPI_PUBLISH_TOKEN }}
